[Desktop Entry]
Encoding=UTF-8
Name=Firefox Developer Edition
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Firefox Web Browser
Exec=/developer/.local/share/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/developer/.local/share/firefox/browser/icons/mozicon128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml; application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
